@media (min-width: 1200px) {
	#itemBox {
		width: 1000px;
	}
}
hr {
    margin: 0 10px;
}
.user-op {
    position: relative;
    margin-left: 20px;
}
.v-head {
    width:36px;height: 36px;
    position: absolute;
    left: -20px;
    bottom: 8px;
}
.black {
    color: black;
}
.border {
    border: 1px solid red;
}
.gray-bg {
	background-color: #F3F3F4;
}
#itemBox select {
	border:none;
	cursor: pointer;
}
.item-head a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.item-head img {
	width: 100%;
	height: 150px;
}
.item-name {
    /*border: 1px solid red;*/
    width: 67%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name a {
    color: #676A6C;
}
.item-ss {
    padding: 5px 28px;
}
.item-ss .item-status {
    margin-top: 10px;
}
.item-technology {
    margin: 6px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-technology span {
    margin-right: 6px;
}

/*  项目详情start */
.item-detail-info {
    background-color: #F7FAFC;
    position: relative;
}
.item-detail-apply-btn {
    position: absolute;
    right: 26px;
    bottom: 16px;
}
.item-detail-technology {
    padding-left: 80px;
    font-size: 14px;
    color: black;
    margin-top: 25px;
}
.item-detail-technology span {
    margin-right: 6px;
}
.item-detail-base-info {
    padding: 20px 0 40px 80px;
    font-size: 16px;
}
.item-detail-content {
    padding: 0 10% 60px;
}
.item-detail-content div {
    margin-top: 60px;
}
/*  项目详情end */

.ibox-content {
    padding: 0 0 6px 0;
}
.ibox-content p {
    margin: 10px 0 0;
}
.img-responsive {
	width: 200px;
	height: 200px;
}
#publishForm {
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 30px;
}
#publishForm h2 {
	text-align: center;
	font-weight: bold;
}
.editForm {
    padding-left: 100px;
    margin-bottom: 80px;
}
.editForm .content {
    width: 50%;
}